* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
	font-family: "Montserrat Bold";
	src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "DIN Pro";
	src: url("/fonts/dinpro-cufonfonts/DINPro-Medium\ tr.ttf");
}
@font-face {
	font-family: "DIN Pro Bold";
	src: url("/fonts/dinpro-cufonfonts/DINPro-Bold\ tr.ttf");
}
@font-face {
	font-family: "SF Pro Rounded";
	src: url("/fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf");
}

li,
button,
a,
p,
input,
label {
	font-size: $text;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 3.2rem;
}

h1 {
	font-size: $header1;
	font-family: "Montserrat Bold", sans-serif;
}
h2 {
	font-size: $header2;
	font-family: "Montserrat Bold", sans-serif;
}
h3 {
	font-size: $header3;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
h4 {
	font-size: $header4;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
h5 {
	font-size: $header5;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: $grey-text;
}

.btn-cta,
button {
	padding: 1rem 2rem;
	background: $color;
	color: white;
	border-radius: 0.8rem;
	font-size: 1.5rem;
	box-shadow: 0 10px 20px rgba($color: #21deba, $alpha: 0.4);
	animation: button 0.8s ease-in-out infinite alternate 2s;
	font-weight: 500;
	border: none;
	@include expand();
}

.btn-cta-2 {
	padding: 1.5rem 3rem;
	background: $color;
	color: white;
	border-radius: 1rem;
	box-shadow: 0 20px 40px rgba($color: #21deba, $alpha: 0.4);
	animation: button 0.8s ease-in-out infinite alternate 2s;
	font-weight: 500;
	@include expand();
}

.btn-border {
	padding: 1.8rem 3rem;
	background: none;
	color: $color;
	border: 2px solid $color;
	font-size: 1.5rem;
	&:hover {
		transition: 0.3s ease-in-out;
		box-shadow: 0 20px 40px rgba($color: #21deba, $alpha: 0.2);
		background: $color;
		color: white;
	}
}
