.main-head {
	margin: 0 0 0 auto;
	box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.1);
	min-height: 4vh;
}

nav {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	// @include flex(space-around, center, row);
	// min-height: 5vh;
	width: 95%;
	margin: auto;
	flex-wrap: wrap;
}

#logo a {
	grid-column: 5/8;
	@include flex(flex-start, center, row);
	// flex: 1 1 20rem;
	.logo-image {
		width: 3.6rem;
		@include expand();
	}

	margin: 1rem;
}

.logo-text {
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: 800;
	color: $grey-text;
	margin: 0 2rem;
}

.nav-links {
	@include flex(space-around, center, row);
	flex: 1 1 20rem;
	font-weight: 600;
	color: $grey-text;
	a {
		font-size: 2rem;
		padding: 1rem 2rem;
		transition: all 250ms;
		&:hover {
			color: $color;
		}
	}
}

#nav-btn-cta {
	padding: 1rem 2rem;
	background: $color;
	color: #ffffff;
	a {
		font-size: 2rem;
		color: white;
	}
	transition: all 0.1s ease;
	&:hover {
		font-size: 2rem;
		@include expand();
		box-shadow: 0 10px 10px rgba($color: #21deba, $alpha: 0.4);
	}
}

.social-icons {
	grid-column: 9/11;
	// flex: 1 1 20rem;
	@include flex(space-around, center, row);
	img {
		margin: 0 0.75rem;
	}
}
// HERO SECITON

.hero {
	// background: linear-gradient(rgba(255, 255, 255, 0.3), transparent),
	// 	url('../img/Hero\ BG.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 50vh;
	position: relative;
	overflow: hidden;
}
.hero-wrapper {
	width: 90%;
	margin: auto;
	@include flex(space-evenly, center, row);
	flex-wrap: wrap;
	.hero-text {
		margin: 4rem 0;
		flex: 3 1 30rem;
		@include flex(space-around, flex-start, column);
	}
	.hero-image {
		@include flex(center, center, row);
		flex: 2 1 30rem;
		svg {
			width: 70%;
		}
	}
	h2 {
		font-size: 5rem;
		margin-bottom: 3rem;
		line-height: 6rem;
		color: black;
	}
	h3 {
		font-size: 2.6rem;
		margin-bottom: 4rem;
		color: $text;
		font-weight: 600;
		line-height: 4rem;
	}
}

#bamboo-grid {
	position: absolute;
	z-index: -1;
	top: -10rem;
	left: 0;
	opacity: 1;
}

#Plant {
	animation: plant 2s ease-in-out infinite alternate;
	transform-origin: bottom;
	transform-box: fill-box;
}

@keyframes plant {
	from {
		transform: rotateZ(-2deg);
	}
	to {
		transform: rotateZ(2deg);
	}
}
