$header1: 2.5rem;
$header2: 4rem;
$header3: 3.5rem;
$header4: 2.4rem;
$header5: 1.2rem;
$text: 1.8rem;
$grey-text: #2c2c2c;
$color: #21deba;
$bg-color: #101c2e;

@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin expand() {
	transition: all 200ms;
	&:hover {
		transform: scale(1.025);
	}
}

@import 'global';
@import 'intro';
@import 'body';
@import 'form';
@import 'footer';
@import 'facebook';
